@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

:root {
	--shadow: #fd6f21;
	--ring: currentColor;
	--blend1: #fc5830;
	--blend2: #f98c24;
	--blend-from: 0%;
	--blend-to: 100%;
	--blend-dir: top right;
}

body {
	min-height: 100vh;
	font-size: calc(0.5em + 1vmin);
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	font-family: 'Work Sans', sans-serif;
	color: #e6e8db;
}

#greeting {
	font-size: larger;
	font-weight: 600;
	width: 230px;
	height: 230px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

[icon] {
	flex: none;
	display: none;
	position: relative;
	font-size: calc(10em + 1vmin);
	width: 1em;
	height: 1em;
	margin: 0.3em;
	border-radius: 100%;
	box-shadow: 0 0 0 0.05em var(--ring) inset, 0 0 0.3em -0.03em var(--shadow);
	background: linear-gradient(
		to var(--blend-dir),
		var(--blend1) var(--blend-from),
		var(--blend2) var(--blend-to)
	);
	/*   filter: saturate(0); */
}
/* [icon]:hover {
    filter: saturate(1);
  } */
[icon]::after {
	content: attr(data-label);
	position: absolute;
	top: calc(100% + 1vmin);
	left: 50%;
	transform: translateX(-50%);
	font: inherit;
	font-size: 0.15em;
}
[icon='sunny'] {
	--shadow: #fd6f21;
	--blend1: #fc5830;
	--blend2: #f98c24;
	--blend-to: 65%;
}
[icon='cloudy'] {
	--shadow: #1378bb;
	--blend1: #1b9ce2;
	--blend2: #1378bb;
	--shadow: #c9e8de;
	--blend1: #758595;
	--blend2: #e0e2e5;
	--blend1: #1b9ce2;
	--blend-to: 65%;
	--blend-to: 90%;
}
[icon='snowy'] {
	--shadow: #c9e8de;
	--blend1: #758595;
	--blend2: #e0e2e5;
	--blend-to: 90%;
	--blend-dir: bottom left;
}
[icon='stormy'] {
	--shadow: #34c6d8;
	--blend1: #4b9cc2;
	--blend2: #9adbd9;
}
[icon='supermoon'] {
	--shadow: #5133a5;
	--blend1: #4054b2;
	--blend2: #aa4cba;
	--blend-to: 65%;
	--blend-dir: bottom right;
}

.sun {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	border-radius: 100%;
	background: #ffeb3b;
	box-shadow: 0 0 0 0.02em var(--ring) inset, 0 0 0.3em -0.03em var(--shadow);
	transform-origin: 0.1em 0.1em;
}
.sun::after {
	content: '';
	position: absolute;
	top: 0.1em;
	left: 0;
	will-change: transform;
	transform: translate(-50%, -50%);
	width: 0.1em;
	height: 0.1em;
	border-radius: 100%;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 0.1em 0 rgba(255, 255, 255, 0.3) inset,
		-0.1em -0.1em 0 0.2em rgba(255, 255, 255, 0.1);
	animation: flare 12000ms infinite alternate linear;
}
[icon='sunny'] {
	display: hide;
}

/* CLOUDY */
/* --------------------- */
.cloud {
	position: absolute;
	top: 0.1em;
	left: 65%;
	width: 0.37em;
	height: 0.13em;
	border-radius: 0.1em;
	background-color: #fff;
	box-shadow: 0 0 0.1em 0.02em var(--ring) inset,
		0 0 0.3em -0.03em var(--shadow);
	animation: move 3000ms infinite ease-in-out;
}
.cloud + .cloud {
	top: 25%;
	left: 40%;
	animation: move 3700ms infinite linear;
}
.cloud::before,
.cloud::after {
	content: '';
	position: inherit;
	border-radius: inherit;
	background-color: inherit;
	box-shadow: inherit;
	bottom: 30%;
}
.cloud::before {
	left: 0.05em;
	width: 0.2em;
	height: 0.2em;
}
.cloud::after {
	left: 0.15em;
	width: 0.15em;
	height: 0.15em;
}

[icon='cloudy'] {
	display: hide;
}

/* Afternoon */
/* --------------------- */
[icon='afternoon'] {
	display: hide;
}

/* SNOWY */
/* --------------------- */
[icon='snowy'] ul {
	position: absolute;
	list-style: none;
	top: 0%;
	left: 10%;
	right: 0%;
	height: 100%;
	margin: 0;
	padding: 0;
}
[icon='snowy'] li::before,
[icon='snowy'] li::after {
	content: '';
	position: absolute;
	list-style: none;
	width: 0.015em;
	height: 0.01em;
	border-radius: 100%;
	background-color: var(--ring);
	will-change: transform, opacity;
	animation: snow 3700ms infinite ease-out;
	opacity: 0;
}
[icon='snowy'] li:nth-child(2n + 1)::before,
[icon='snowy'] li:nth-child(13n + 11)::after {
	top: -7%;
	left: 40%;
}
[icon='snowy'] li:nth-child(3n + 2)::before,
[icon='snowy'] li:nth-child(11n + 7)::after {
	top: 5%;
	left: 90%;
	animation-delay: 1000ms;
}
[icon='snowy'] li:nth-child(5n + 3)::before,
[icon='snowy'] li:nth-child(7n + 5)::after {
	top: -10%;
	left: 80%;
	animation-delay: 2000ms;
}
[icon='snowy'] li:nth-child(7n + 5)::before,
[icon='snowy'] li:nth-child(5n + 3)::after {
	top: 10%;
	left: 10%;
	animation-delay: 1300ms;
}
[icon='snowy'] li:nth-child(11n + 7)::before,
[icon='snowy'] li:nth-child(3n + 2)::after {
	top: 20%;
	left: 70%;
	animation-delay: 1500ms;
}
[icon='snowy'] li:nth-child(13n + 11)::before,
[icon='snowy'] li:nth-child(2n + 1)::after {
	top: 35%;
	left: 20%;
	animation-delay: 500ms;
}
.snowman {
	position: absolute;
	bottom: 30%;
	left: 40%;
	width: 0.15em;
	height: 0.15em;
	opacity: 0.9;
	background: var(--ring);
	border-radius: 100%;
}
.snowman::after {
	content: '';
	position: absolute;
	top: 90%;
	left: 30%;
	transform: translate(-50%, 0%);
	width: 0.275em;
	height: 0.3em;
	border-radius: inherit;
	background-color: var(--ring);
}
.snowman::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-55%, -50%);
	width: 0.45em;
	height: 0.4em;
	border-radius: 60%;
	border: 0.02em solid transparent;
	border-bottom-color: var(--blend1);
	will-change: border-radius;
	animation: snowman 9000ms infinite ease-in;
}
[icon='snowy'] {
	display: hide;
}

/* SUPERMOON */
/* --------------------- */
[icon='supermoon']::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: radial-gradient(1px 1px at 50% 20%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 30% 65%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 15% 05%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 37% 35%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 65% 47%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 42% 29%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 73% 56%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 24% 19%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 31% 47%, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(1px 1px at 18% 39%, #fff, rgba(0, 0, 0, 0));
	background-repeat: repeat;
	will-change: transform;
	animation: revolve 120000ms linear infinite;
}

.moon {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	border-radius: 100%;
	background: radial-gradient(circle at bottom left, var(--ring), #fef07e);
	box-shadow: 0 0 0 0.02em var(--ring) inset, 0 0 0.3em -0.03em var(--blend2);
}
.moon::before,
.moon::after {
	content: '';
	position: absolute;
	border-radius: 100%;
	background-color: var(--blend1);
	box-shadow: 0.01em 0.01em 0.1em 0 var(--blend1);
}

.moon::before {
	top: 15%;
	left: 55%;
	width: 20%;
	height: 20%;
	opacity: 0.3;
}
.moon::after {
	bottom: 50%;
	left: 25%;
	width: 15%;
	height: 15%;
	opacity: 0.2;
}

.meteor {
	position: absolute;
	background-color: #fff;
	opacity: 0;
	top: 20%;
	left: 55%;
	width: 1px;
	height: 15px;
	transform: rotate(45deg);
	will-change: transform, opacity;
	animation: meteor 6250ms infinite ease-in;
}
[icon='supermoon'] {
	display: hide;
}

@keyframes flare {
	to {
		transform: translate(-0.3em, 0.3em);
		opacity: 0.4;
		font-size: 0.2em;
	}
}
@keyframes move {
	50% {
		transform: translateX(-0.05em);
	}
}
@keyframes snow {
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(-0.1em, 15vmin);
	}
}
@keyframes snowman {
	50% {
		border-radius: 60% 60% 30% 50%;
	}
}
@keyframes flash {
	49% {
		background-color: var(--shadow);
	}
	51% {
		background-color: var(--ring);
	}
	53% {
		background-color: var(--shadow);
	}
	57% {
		background-color: var(--ring);
	}
	85% {
		background-color: var(--shadow);
	}
}
@keyframes rain {
	10% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(-0.1em, 0.5em);
	}
}
@keyframes revolve {
	to {
		transform: rotate(360deg);
	}
}
@keyframes meteor {
	5% {
		opacity: 1;
	}
	8% {
		transform: translate(-0.6em, 0.6em) rotate(45deg);
		opacity: 0;
	}
}

.box {
	width: 230px;
	height: 230px;
	/* background-color: #f4f4f4; */
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.plant-box {
	width: 180px;
	height: 35px;
	background-color: #d0e4e5;
	border: 3px solid #555869;
	border-radius: 5px;
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
}
.plant-box:before,
.plant-box:after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 3px;
}
.plant-box:before {
	background-color: #c3e5d0;
	top: -6px;
	border-radius: 5px 5px 0 0;
	opacity: 0.9;
}
.plant-box:after {
	background-color: #e0e0e0;
	bottom: -6px;
	border-radius: 0 0 5px 5px;
}

.flower {
	width: 20px;
	height: 32px;
	border: 3px solid #555869;
	border-radius: 50%;
	position: absolute;
}
.flower:after,
.flower:before {
	content: '';
	position: absolute;
	width: 16px;
	height: 26px;
	background-color: #e0e0e0;
	border: 3px solid #555869;
	border-radius: 50%;
	z-index: -1;
}
.flower:after {
	left: -10px;
	bottom: -4px;
	transform: rotate(-25deg);
	-webkit-animation: flower-left 1s infinite linear;
	animation: flower-left 1s infinite linear;
}
.flower:before {
	right: -10px;
	bottom: -4px;
	transform: rotate(25deg);
	-webkit-animation: flower-right 1s infinite linear;
	animation: flower-right 1s infinite linear;
}
.flower.-flower1 {
	background-color: #f7d2c9;
	left: 50px;
	top: 70px;
}
.flower.-flower2 {
	background-color: #87bdc1;
	top: 80px;
	left: 100px;
}
.flower.-flower3 {
	background-color: #d8778a;
	top: 55px;
	left: 150px;
}

.plant {
	width: 3px;
	height: 75px;
	background-color: #555869;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.plant:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 7px;
	border: 3px solid #555869;
	background-color: #d0e4e5;
	border-radius: 50%;
	top: 20px;
	-webkit-animation: plant 2s infinite linear;
	animation: plant 2s infinite linear;
}

@-webkit-keyframes flower-left {
	0% {
		transform: rotate(-25deg);
	}
	50% {
		transform: rotate(-30deg) scale(0.95);
	}
	100% {
		transform: rotate(-25deg);
	}
}

@keyframes flower-left {
	0% {
		transform: rotate(-25deg);
	}
	50% {
		transform: rotate(-30deg) scale(0.95);
	}
	100% {
		transform: rotate(-25deg);
	}
}
@-webkit-keyframes flower-right {
	0% {
		transform: rotate(25deg);
	}
	50% {
		transform: rotate(30deg) scale(0.95);
	}
	100% {
		transform: rotate(25deg);
	}
}
@keyframes flower-right {
	0% {
		transform: rotate(25deg);
	}
	50% {
		transform: rotate(30deg) scale(0.95);
	}
	100% {
		transform: rotate(25deg);
	}
}
@-webkit-keyframes plant {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(8deg);
		transform-origin: left;
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(-8deg);
		transform-origin: left;
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes plant {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(8deg);
		transform-origin: left;
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(-8deg);
		transform-origin: left;
	}
	100% {
		transform: rotate(0);
	}
}

img {
	width: 50%;
	height: 50%;
	margin-left: 90%;
	margin-top: 40%;
	object-fit: cover;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}
